@import url('http: //fonts.googleapis.com/css/familiy=Quicksand:400,500&subset=latin-ext');
body {
	padding: 100px;
	background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
	text-align: center;
	font-family: 'Quicsand', sans-serif;
}
ul {
	margin-left: -45px;
}
li {
	list-style: none;
	display: inline-block;
}
.main {
	width: 800px;
	height: 520px;
	background-color: #fafafa;
	margin: 0 auto;
	padding-top: 20px;
	border-radius: 10px;
	border: 1px solid #eeeeee;
}
.img {
	background-image: url(redhy.jpg);
	background-color: #eaeaea;
	background-size: cover;
	border-radius: 100px;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border: 1px solid #eaeaea;
}
h1 {
	text-align: center;
	font-size: 25px;
	margin: 0;
	font-weight: bold;
	color: #6944ff;
	font-family: 'Times New Roman', Times, serif;
}
.text {
	text-align: center;
	font-size: 13px;
	margin: 0;
	color: #324e63;
	font-family: 'Lucia Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
	margin: 0 auto;
	padding-top: 20px;
	width: 450px;
	height: auto;
	color: #324e63;
	font-size: 15px;
	text-align: justify;
}