*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 10px 0;
	background-color: #F5411B;
}
.medsos ul li{
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container{
	width: 90%;
	margin: 0 auto;

	
}
.container:after{
	content: " ";
	display: block;
	clear: both;

	
}
}
header{
}
header h1{
	float: left;
	padding: 15px 0;
	color: #F5411B;
}
header ul{
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: #F5411B;
	color: #fff;
}
.active{
	background-color: #F5411B;
	color: #fff;
}
.banner{
	height: 60vh;
	background-image: url(banner.jpg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
  .banner:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(245, 65, 27, 0.6);
}
.banner h2{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 4px solid #fff;
	border-radius: 20px;
}
section{
	padding: 50px 0;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: #F5411B;
}
.about p{
	color: #777;
	word-spacing: ;
	line-height: 25px;
}
footer{
	padding: 30px 0;
	background-color: #FA8168;
	color: #F7E5E1;
	text-align: center;
	bottom: 0px;

}
.services{
	background-color: #f9f9f9;
}
.box{
	color: #FA8168;
}
.box:after{
	content: "";
	display: block;
	clear: both;
}
.box .col-4{
	width: 25%;
	padding: 50px;
	box-sizing: border-box;
	border-style: solid;
	text-align: justify-all;
	float: left;
	background-color: #f9f9f9;
}
.icon{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin:  auto;
}
.box .col-4 h4{
	margin: 20px 0;
	text-align: center;
}
.box .col-4 p{
	text-align: center;

}
@media screen and(max-width: 476px) {
	.box .col-4{
		width: 90%;
		text-align: center;
		margin: auto;
	}
	.icon {
		width: 90%;
		margin: auto;
	}
	.icon{
		width: 90%;
	}
    .services{
    	width: 90%;
    }
    .container{
    	width: 90%;
    	margin: auto;
    }
    .produk{
    	width: 90%;
    	margin: auto;
    }
    section {
    	display: block;
    }
    section img {
    	display: block;
    	width: 100%;
    	height: auto;
    }
}

